<h1>Number Array Table</h1>

<div class="mb-3">
    <button class="btn btn-primary" (click)="getNumberData()">Get Data</button>
</div>

<!-- Notificacion de error al obtener datos -->
<div *ngIf="arrayNumber == null">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Null response from server.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!-- Loading spinner -->
<div class="text-center" *ngIf="loading; else numberTable">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
</div>

<ng-template #numberTable>
  <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Number</th>
              <th scope="col">Quantity</th>
              <th scope="col">First Position</th>
              <th scope="col">Last Position</th>
            </tr>
          </thead>
          <tbody>
            <!-- Rellenado de fila segun la cantidad de repeticiones -->
            <tr *ngFor="let item of tableNumber; let idx = index"
            [ngClass]="{'table-success': item.quantity > 1,
                        'table-warning': item.quantity === 1,
                        'table-active': item.quantity === 0}">
              <th scope="row">{{idx+1}}</th>
              <td>{{item.number}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.first}}</td>
              <td>{{item.last}}</td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="arrayNumber != null">Ascending array</h4>
        <pre>
          {{arrayNumber}}
        </pre>
</ng-template>