<h1>Paragraph Table</h1>

<div class="mb-3">
    <button class="btn btn-primary" (click)="getParagraphData()">Get Data</button>
</div>

<!-- Notificacion de error al obtener datos -->
<div *ngIf="arrayParagraph == null">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Null response from server.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!-- Loading spinner -->
<div class="text-center" *ngIf="loading; else numberTable">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
</div>


<ng-template #numberTable>
  <div class="table-responsive">
    <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th *ngFor="let a of alphabet" scope="col">{{a}}</th>
                <th scope="col">Numeric Sum</th>
              </tr>
            </thead>
            <tbody>
              <!-- Rellenado de fila segun la cantidad de repeticiones -->
              <tr *ngFor="let item of tableParagraph; let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td *ngFor="let a of item.values">{{a}}</td>
                <td>{{item.sum}}</td>
              </tr>
            </tbody>
          </table>
  </div>
          <h4 *ngIf="arrayNumber != null">Ascending array</h4>
          <pre>
            {{arrayNumber}}
          </pre>
  </ng-template>